@font-face {
    font-family: 'Jersey 10';
    src: url('src/fonts/Jersey10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Jersey 10', sans-serif;
  }
  
  .imgContainer {
    width: 50%;
    max-width: 800px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imgContainer img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .gameInfo {
    text-align: center;
    color: white;
    background-color: purple;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
  }
  
  .gameInfo p {
    margin: 10px 0;
    font-size: 1.5rem;
  }