@font-face {
    font-family: 'Jersey 10';
    src: url('/src/fonts/Jersey10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .header {
    font-family: 'Jersey 10',sans-serif;
    background: purple;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
  }

  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:1vw;
  }

  .right{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:2vw;
  }

  .gameshop {
    color: white;
    font-size: 48px;
    display:flex;
    align-items: center;
    margin-left: 10px;
  }

  .gameshop img {
    height: 40px;
    width: auto;
  }

  .store,.community,.help,.about-us {
    text-decoration: underline;
    color: white;
    font-size:36px;
  }

  .cart{
    color: white;
    font-size:36px;
    display: flex;
    align-items: center;
  }

  .cart img {
    height: 40px;
    width: auto;
  }

  .profile{
    color: white;
    font-size: 36px;
    display:flex;
    align-items: center;
    margin-right: 10px;
  }

  .profile img {
    height: 40px;
    width: auto;
  }